
:root{
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --black: #2c3e50;
  --blue_bg: #3498db;
  --verde99: #7DBC44;
  --hint-of-green: #deeed2;
  --lima: #6fc818;
  --loafer: #f0f3db;
  --conifer: #a6d350;
  --panache: #edf8e5;
  --mercury: #e5e5e5;
  --magnesium: #b4b4b4;
  --mountain-mist: #929393;
  --bunker: #2c2e2e;
  --loafer: #f1f3dd;
  --medium-spring-bud: #d4df83;
  --june-bud: #c2d24f;
  --cinderella: #ffcfc9;
  --geraldine: #fa8e8e;
  --pomegranate: #ef3f25;
  --link-water: #daecf7;
  --carolina-blue: #8fbdd9;
  --shakespeare: #4ba2ce;
  --anti-flash-white: #f2f2f6;
  --aluminum: #979797;
  --tuft-bush: #fdd6c2;
  --sandy-brown: #f8a85d;
  --chilean-fire: #f57600;
  --oasis: #fdf0ce;
  --dandelion: #ffdc5d;
  --supernova: #ffc901;
  --hint-of-green: #dfefd3;
  --pistachio: #9cd261;
  --white: #ffffff;
  --tuatara: #343635;
  --sushi: #7ebc44;
}

.mr-3{
  margin-right: 30px;
}

.ml-3{
  margin-right: 30px;
}

a{
  text-decoration: none;
  color: white;
  font-weight: bold;

}